<!-- 
File: project/templates/project/create_item_form.html 
Author: Nguyen Le
Description: Create a new auction item
-->

<!-- load base content -->
{% extends 'project/base.html' %}

<!-- load scriplet -->
{% block content %}
<div class="grid-container">
    <header class="header">
        <h2>Create New Auction Item</h2>
        <hr>
    </header>

    <div class="main">
        <!-- Posting -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <!-- existing fields from Post -->
                {{ form.as_table }}
            </table>

            <!-- submit action -->
            <input type="submit" name="create" value="Create Item">
        </form>

        <!-- back to item -->
        <a class="button-like" href="{% url 'item_list' %}">
            <button>Back to Items</button> 
        </a>
    </div>
</div>
{% endblock %}

