<!-- 
File: project/templates/project/create_review_form.html 
Author: Nguyen Le
Description: Create a review on a profile
-->

<!-- load base content -->
{% extends 'project/base.html' %}

<!-- load scriplet -->
{% block content %}
<div class="grid-container">
    <header class="header">
        <h2>Leave Review for: @{{ reviewed_profile.username }}</h2>
        <hr>
    </header>

    <div class="main">
        <!-- Posting -->
        <form method="POST">
            {% csrf_token %}
            <table>
                <!-- existing fields from Post -->
                {{ form.as_table }}
            </table>

            <!-- submit action -->
            <input type="submit" name="review" value="Submit Review">
        </form>

        <!-- back to profile -->
        <a class="button-like" href="{% url 'profile_detail' reviewed_profile.pk %}">
            <button>Back to Profile</button> 
        </a>
    </div>
</div>
{% endblock %}

